/*----------------------------------------------container and body---------------------------------------------*/
#container{
  margin: auto; /*center page*/
  width: 85%; /*width of the page*/
	background-color: #9DB9E7; /*background color of the div(container)*/
	border: 10px solid #9DB9E7; /*setting border (width/ style/color)*/
  font-family: sans-serif; /*font of the div(container)*/
}

body{background-color: #ffffff; } /*body background color*/

/*---------------------------------------------header----------------------------------------------*/

#header{
	height: 110px; /*setting height of the div(header)*/
  background-repeat: repeat-x; /*repeats image*/
  background-image: url("../images/header.jpeg"); /*set a image as a background of the div(header)*/
  background-size: auto 110px; /*setting width and height of the background image*/
}

#logo {
  float:left; /*float(left) the div(logo)*/
  margin-top: 10px; /*setting a margin(top) for div(logo)*/
  margin-left: 15px; /*setting a margin(left) for div(logo)*/
}

/*---------------------------------------------nav (menu options)--------------------------------------------------*/

.topnav {
  /*if content overflows an element's box,
  overflow is clipped, and the rest of the content is hidden 
  for div(topnav)*/
  overflow: hidden; 
  background-color: #090C9B; /*background color of div(topnav)*/
}

.topnav a {
  float: left; /*float(left)*/
  color: #ffffff; /*setting color*/
  padding: 14px 16px; /*top and bottom paddings are 14px / right and left paddings are 16px*/
  text-decoration: none; /*remove underlines from links*/
  font-size: 17px; /*font size*/
}

.dropdown {
  float: left; /*float left*/
  /*if content overflows an element's box
  overflow is clipped, and the rest of the content is hidden 
  for div(dropdown)*/
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;   /*font size*/ 
  border: none; /*no border*/ 
  color: #ffffff; /*setting color*/
  padding: 14px 16px; /*top and bottom paddings are 14px / right and left paddings are 16px*/
  background-color: inherit; /*(.dropdown .dropbtn)should inherit the backgroung color value from its parent element.*/
  font-family: inherit; /*(.dropdown .dropbtn)should inherit the font value from its parent element.*/
}

.dropdown-content {
  display: none; /*do not display dropdown content*/
  position: absolute; /*position absolute*/
  background-color: #ffffff; /*set background color*/
  min-width: 160px; /*set minimun width*/
  box-shadow: 0px 8px 16px 0px #00000033; /*add drop shadow to the box (length and color shadow) */
}

.dropdown-content a {
  float: none; /*do not float*/
  color: #000000; /*setting color*/
  padding: 12px 16px; /*top and bottom paddings are 12px / right and left paddings are 16px*/
  text-decoration: none; /*remove underlines from links*/
  display: block; /*display in block*/
  text-align: left; /*align text on the left*/
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #b5c5ed; /*set background color when hover a link*/
}

.dropdown-content a:hover {
  color: #000000; /*setting color*/
}

.dropdown:hover .dropdown-content {
  display: block; /*display in block*/
}

/*----------------------------------------------Content---------------------------------------------*/

.content{
  padding: 20px; /*setting padding for div(content)*/
	min-height: 400px; /*setting a minimum height for div(content)*/
}

#content{
  min-height: 400px; /*setting a minimum height for div(content)*/
}

.content h2{
  margin:0%; /*no margin*/
}

.content a {
  text-decoration: none; /*remove underlines from links*/
  color: #000000;
}

#testimonialH2 h2, #enquiriesH2 h2 {
  padding-bottom: 16px; /*setting padding bottom*/
}

.newrow{
  /*Content is clipped 
  and no scrolling mechanism should be provided 
  to view the content outside the clipping region.*/
  overflow:hidden; 
  margin-left: 3%;/*adding a left margin*/
}

.col {
  width: 30%; /*set with of column the div(col)*/
  float: left;  /*float(left) the div(col)*/
  margin-right: 3%; /*setting margin on the right*/
}

.card {
  background-color: white; /*set background color*/
  text-align: center; /*align text*/
  min-height: 400px; /*set minimum height value*/
}

#img{
  height: 200px; /*set height*/
}

hr{
  margin: 1px;/*setting margin for horizontal line*/
}

.card-body{
  padding: 5px; /*set padding*/
  min-height: 290px; /*set minimum height*/
}

.dataTable {
  table-layout: fixed;
  width: 100% !important;
}

.table th {
  background-color: #090C9B; /*set background color*/
  color: #ffffff;/*set color*/
  border: 2px solid #9DB9E7;/*setting border (width/ style/color)*/
  padding: 5px;/*set padding*/
}

.table td {
  background-color: #ffffff;
  border: 2px solid #9DB9E7;/*setting border (width/ style/color)*/
  padding: 5px 10px 5px 10px;/*set padding*/
}

.form label{
  float:left; /*float left*/
  width:50px; /*setting width*/
  padding-right:15px;/*setting right paddind value*/
}

.form input, .form select, .form textarea{
  width:255px; /*setting width*/
  margin-bottom: 3px; /*setting bottom margin*/
}

#mysubmit{
  margin-left: 65px; /*setting left margin to align submit button*/
  width:100px; /*setting width*/
}

#companyContact {
  margin-right: 5px;/*setting margin right*/
}
#companyContact a, #vendorContact a {
  color:#090C9B; /*change color of links*/
}

#companyLocationImg {
  float: right; /*float right*/
  width: 250px; /*setting width*/
  height: 150px; /*setting height*/
  padding-right: 300px; /*setting right paddind value*/
}

.loginForm {
  text-align:center; /*align text*/
  margin: 100px auto;/*top and bottom margins are 100px / right and left margins are auto*/
  padding: 17px 20px 25px 20px; /*setting padding*/
  width: 200px; /*setting width*/
  background:url(../images/login.jpeg) no-repeat center top; /*background shorthand (setting image/repeat/position)*/
}

.loginForm input{
  border: none; /*no border*/
  height: 20px; /*setting height*/
}

.adminLoggedIn a, .adminLoggedIn button{
  width:150px; /*setting width*/
  color: #000000; /*setting color*/
  height: 30px; /*setting height*/
}

#logout button, #logout a{
  color:#ffffff; /*setting color*/
  background-color: #090C9B; /*setting background color*/
  width: 150px; /*setting width*/
}

.managePropertyForm label, .manageForm label {
  color: #ffffff;  /*setting color*/
  background-color: #090C9B; /*setting background color*/
  width:90px; /*setting width*/
  margin-right:5px; /*setting right margin*/
  margin-bottom: 1px; /*setting bottom margin*/
  text-align: center; /*align text*/
}

.managePropertyForm textarea{
  width: 255px; /*setting width*/
}

#updateButton{
  margin-left: 110px; /*setting left margin*/
  width:100px; /*setting width*/
}

/*----------------------------------------------footer---------------------------------------------*/
#footer{
  background-color: #090C9B; /*set background color*/
  color: #ffffff; /*setting color*/
  height: 30px; /*setting height*/
  margin-top: 25px; /*setting top margin*/
  padding: 10px; /*Set the padding for all four sides*/
}

#facebookLogo{
  float:right; /*float(right) the div(facebookLogo)*/
  margin-left: 15px; /*setting a margin(left) for div(facebookLogo)*/
}

#InstagramLogo{
  float:right; /*float(right) the div(InstagramLogo)*/
}

/*----------------------------------------styles for a mobile device 486px---------------------------------------------*/

/* styles for a mobile device 486px*/
@media only screen and (max-width:486px){
  #container{
    width: 95%; /*setting width */
    height: 40%; /*setting height */
    font-size: 70%; /*setting font size*/
  }

  .topnav a {
    float: none; /*float(left)*/
    font-size: 90%; /*font size*/
    display:block /*display in block*/
  }
  
  .dropdown {
    float: none; /*setting float*/
  }

  .dropdown .dropbtn {
    font-size: 90%;   /*font size*/ 
  }

  #shortDescription{
    display: none; /*do not display short description*/
  }

  .card {
    min-height: 250px; /*setting minimum height*/
  }
  .card-body{
    min-height: 50px; /*setting minimum height*/
  }

  #img {
    height: 100px; /*setting height*/
  }

  .content{
    padding: 0px; /*setting padding*/
  }

  .content h2 {
    margin-top: 15px; /*setting top margin*/
  }

  #companyLocationImg{
    display: none; /*do not display the map image*/
  }

  button, #mysubmit{
    font-size: inherit; /*setting size*/
  }

  #adminArea{
    display: none; /*do not display administrator area*/
  }

  #displayProperties img{
    height: auto; /*setting height*/
    margin-top: 15px; /*setting top margin*/
  }
}